<ui:composition template="/WEB-INF/templates/student-template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">

    <ui:define name="metadata">
        <f:metadata>
            <o:viewParam name="teachingId" value="#{studentTeachingBean.teachingId}" requiredMessage="No teaching specified." default="#{studentTeachingBean.defaultStudentTeaching.id}">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <o:viewParam name="taskId" value="#{studentTaskBean.taskId}" requiredMessage="No task specified.">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <o:viewParam name="attemptId" value="#{studentAttemptBean.attemptId}" requiredMessage="No attempt specified.">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <f:viewAction action="#{studentTaskBean.initTask}"/>
            <f:viewAction action="#{studentAttemptBean.initAttempt}"/>
            <f:viewAction action="#{studentTeachingBean.initTeaching}"/>

        </f:metadata>
    </ui:define>

    <ui:define name="title">
        Úkol
    </ui:define>

    <ui:define name="content">

        <p:panelGrid columns="2" columnClasses="ui-g-12 ui-md-12 ui-lg-6, ui-g-12 ui-md-12 ui-lg-6" layout="grid">

            <p:column>
                <h1>Zadání úkolu (<p:link style="font-size: 1em;" outcome="/student/tasks/task" includeViewParams="true" value="#{empty studentAttemptBean.attempt.task.name ? 'Úkol bez názvu' : studentAttemptBean.attempt.task.name}" />)</h1>
                <h:outputText value="#{studentAttemptBean.attempt.task.text}" escape="false"/>
                <br/>
                <ui:fragment rendered="#{not empty studentAttemptBean.attempt.feedback}">
                    <h1>Zpětná vazba</h1>
                </ui:fragment>
                <h:outputText value="#{studentAttemptBean.attempt.feedback}" escape="false"/>
            </p:column>

            <p:column>
                <h1>Odevzdaný pokus <h:outputText id="state-label" value="(#{studentAttemptBean.attempt.stateCzechFormated})"/> | <h:outputText value="#{studentAttemptBean.attempt.timeFormated}" /></h1>
                <h:outputText value="#{studentAttemptBean.attempt.text}" escape="false"/>
            </p:column>

        </p:panelGrid>

    </ui:define>
</ui:composition>