<ui:composition template="/WEB-INF/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Online Edu - domovská stránka
    </ui:define>

    <ui:define name="content">


        <div class="p-grid" style="height: 100%;margin-top: 2em;">
            <div class="p-lg-12 p-md-12 p-sm-12">
                <div class="login-box-block" style="height: 250px;">
                    <h:link class="login-box-link" outcome="/student/home">
                        <div class="login-box-icon">
                            <i style="color: dimgrey" class="fa fa-user-graduate fa-5x"></i>
                        </div>
                        <div class="login-box-inner">
                            <h2>Žákasdasdasd</h2>
                        </div>
                    </h:link>
                </div>
            </div>

            <div class="p-lg-12 p-md-12 p-sm-12">
                <div class="login-box-block" style="height: 250px;">
                    <h:link class="login-box-link" outcome="/teacher/home">
                        <div class="login-box-icon">
                            <i style="color: dimgrey" class="fa fa-book fa-5x"></i>
                        </div>
                        <div class="login-box-inner">
                            <h2>Učitel</h2>
                        </div>
                    </h:link>
                </div>
            </div>

            <div class="p-lg-12 p-md-12 p-sm-12">
                <div class="login-box-block" style="height: 250px;">
                    <h:link class="login-box-link" outcome="/admin/classrooms">
                        <div class="login-box-icon">
                            <i style="color: dimgrey" class="fa fa-user-cog fa-5x"></i>
                        </div>
                        <div class="login-box-inner">
                            <h2>Administrátor</h2>
                        </div>
                    </h:link>
                </div>
            </div>
        </div>


    </ui:define>
</ui:composition>
