<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Přihlášení</title>
        <h:outputStylesheet name="styles/styles.css" />
    </h:head>
    <h:body>

        <h:messages />

        <div class="login-bg" />
        <div class="container">

            <form class="login-form" id="loginForm" method="post" action="j_security_check">
                <h:graphicImage src="img/avatar.svg" />
                <h2 class="title">Vítejte zpět</h2>
                <div class="input-div one">
                    <div class="login-entry">
                        <h:outputLabel for="j_username" value="Přihlašovací jméno:" />
                        <input class="input" type="text" name="j_username" autofocus="autofocus"/>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="login-entry">
                        <h:outputLabel for="j_password" value="Heslo:" />
                        <input class="input" type="password" name="j_password" />
                    </div>
                </div>
                <ui:fragment rendered="false">
                    <a href="#">Zapomenuté heslo?</a>
                </ui:fragment>
                <input type="submit" class="btn" value="Přihlásit" />
            </form>
        </div>

    </h:body>
</html> 
