<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        template="/WEB-INF/templates/template.xhtml">

    <ui:define name="top-nav">
        <ul class="top-nav-list"></ul>
    </ui:define>

    <ui:define name="left-nav">
        <ul>
            <h:messages style="color: red"/>

            <li class="#{urlHelperBean.isCurrentPage('classrooms') ? 'active' : ''}">
                <h:link outcome="/admin/classrooms" value="Třídy"/>
            </li>
            <li class="#{urlHelperBean.isCurrentPage('teachers') ? 'active' : ''}">
                <h:link outcome="/admin/teachers" value="Učitelé"/>
            </li>
            <li class="#{urlHelperBean.isCurrentPage('students') ? 'active' : ''}">
                <h:link outcome="/admin/students" value="Žáci"/>
            </li>
            <li class="#{urlHelperBean.isCurrentPage('admins') ? 'active' : ''}">
                <h:link outcome="/admin/admins" value="Administrátoři"/>
            </li>
            <li class="#{urlHelperBean.isCurrentPage('avatars') ? 'active' : ''}">
                <h:link outcome="/admin/avatars" value="Avataři"/>
            </li>
        </ul>
    </ui:define>

    <ui:define name="top-right-menu">
        <div class="column-narrow flex-column">
            <h:form id="login-form">
                <p:menuButton id="menu-btn" rendered="#{userLogin.loggedIn}" value="#{userBackingBean.loggedInUser.firstname} #{userBackingBean.loggedInUser.surname}">
                    <p:menuitem id="menu-item-profile" outcome="/admin/admins/admin" value="Uživatelský profil" update="messages" icon="pi pi-user">
                        <f:param name="adminId" value="#{userBackingBean.loggedInUser.id}" />
                    </p:menuitem>
                    <p:separator />
                    <p:menuitem id="logoutbtn" value="Odhlásit" action="#{userLogin.logout}" ajax="false" icon="pi pi-sign-out"/>
                </p:menuButton>
                <p:growl id="messages" showDetail="true" skipDetailIfEqualsSummary="true"/>
            </h:form>
        </div>
    </ui:define>


</ui:composition>