<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        template="/WEB-INF/templates/template.xhtml">

    <ui:define name="top-nav">
        <ul class="top-nav-list"></ul>
    </ui:define>

    <ui:define name="left-nav">
        <ul>
            <h:messages style="color: red"/>

            <li class="#{urlHelperBean.isCurrentPage('home') ? 'active' : ''}">
                <h:link outcome="/student/home" value="Třídní chat" includeViewParams="true"/>
            </li>
            <li class="#{urlHelperBean.isCurrentPage('tasks') ? 'active' : ''}">
                <h:link outcome="/student/tasks" includeViewParams="true" >
                    <h:outputText value="Úkoly" />
                </h:link>
            </li>
            <li class="#{urlHelperBean.isCurrentPage('extra-tasks') ? 'active' : ''}">
                <h:link outcome="/student/extra-tasks" includeViewParams="true" >
                    <h:outputText value="Cvičení za body" />
                </h:link>
            </li>
            <li class="#{urlHelperBean.isCurrentPage('leaderboard') ? 'active' : ''}">
                <h:link outcome="/student/leaderboard" value="Žebříček" includeViewParams="true"/>
            </li>
            <li class="#{urlHelperBean.isCurrentPage('avatars') ? 'active' : ''}">
                <h:link outcome="/student/avatars" value="Avataři" includeViewParams="true"/>
            </li>
        </ul>
    </ui:define>

    <ui:define name="top-right-menu">
        <div class="column-narrow flex-column">
            <h:form id="login-form">
                <div class="p-grid p-ai-center vertical-container">
                    <div class="p-col-12 p-lg-8">
                        <p:menuButton id="menu-btn" rendered="#{userLogin.loggedIn}" value="#{userBackingBean.loggedInUser.firstname} #{userBackingBean.loggedInUser.surname}">
                            <p:menuitem id="menu-item-profile" outcome="/student/user" value="Uživatelský profil" update="messages" icon="pi pi-user">
                                <f:param name="userAccountId" value="#{userBackingBean.loggedInUser.id}" />
                            </p:menuitem>
                            <p:separator />
                            <p:menuitem id="logoutbtn" value="Odhlásit" action="#{userLogin.logout}" ajax="false" icon="pi pi-sign-out"/>
                        </p:menuButton>
                    </div>
                    <div class="p-col-12 p-lg-4">
                        <p:graphicImage cache="false" id="top-nav-user-profile-avatar" value="/avatars/user/#{userBackingBean.loggedInUser.id}" style="max-height: 2.5rem;max-width: 2.5rem;"/>
                    </div>
                </div>
                <p:growl id="messages" showDetail="true" skipDetailIfEqualsSummary="true"/>
            </h:form>
        </div>
    </ui:define>

</ui:composition>