<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<ui:insert name="metadata" />

<h:head>
    <title><ui:insert name="title">Online edu</ui:insert></title>
    <h:outputStylesheet name="styles/styles.css" />
    <h:outputStylesheet name="styles/colors.css" />
    <h:outputStylesheet name="styles/primeflex.css" />
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces" />
    <h:outputStylesheet library="webjars" name="font-awesome/5.15.2/css/all.min-jsf.css" />
    <h:outputStylesheet library="webjars" name="font-awesome/5.15.2/css/v4-shims.min-jsf.css" />
    <h:outputScript library="js" name="date-picker-locale.js" />
</h:head>

<h:body>
    <f:view>

        <div id="page-wrapper">
            <header>
                <div class="column-narrow">
                    <h:link outcome="/home">
                        <h:graphicImage name="images/logo.jpg" alt="logo" />
                    </h:link>
                </div>
                <ui:insert name="top-nav">
                    <ul class="top-nav-list">
                        <ui:fragment rendered="#{userLogin.loggedIn}">
                            <li>
                                <h:link rendered="#{userBackingBean.loggedInUser.role.equals('student')}" outcome="/student/home" value="Třída">
                                    <f:param name="teachingId" value="#{studentTeachingBean.defaultStudentTeaching.id}" />
                                </h:link>
                                <h:link rendered="#{userBackingBean.loggedInUser.role.equals('teacher')}" outcome="/teacher/home" value="Třída" />
                                <h:link rendered="#{userBackingBean.loggedInUser.role.equals('parent')}" outcome="/parent/home" value="Třída"></h:link>
                                <h:link rendered="#{userBackingBean.loggedInUser.role.equals('admin')}" outcome="/admin/classrooms" value="Admin page"></h:link>
                            </li>
                        </ui:fragment>
                    </ul>
                </ui:insert>
                <ui:insert name="top-right-menu">
                    <div class="column-narrow flex-column">
                        <h:form id="login-form">
                            <p:menuButton id="menu-btn" rendered="#{userLogin.loggedIn}" value="#{userBackingBean.loggedInUser.firstname} #{userBackingBean.loggedInUser.surname}">
                                <p:menuitem id="menu-item-profile" value="Uživatelský profil" update="messages" icon="pi pi-user"/>
                                <p:separator />
                                <p:menuitem id="logoutbtn" value="Odhlásit" action="#{userLogin.logout}" ajax="false" icon="pi pi-sign-out"/>
                            </p:menuButton>
                            <p:growl id="messages" showDetail="true" skipDetailIfEqualsSummary="true"/>
                        </h:form>
                    </div>
                </ui:insert>

            </header>
            <section class="row">
                <aside class="big">
                    <ui:insert name="left-nav">
                    </ui:insert>
                </aside>
                <main class="big"><ui:insert name="content">Default content</ui:insert></main>
                <aside class="big"></aside>
            </section>
            <footer>
                <p>Vytvořeno pro studijní účely.</p>
            </footer>
        </div>

        <h:outputScript library="js" name="close-dialogs-on-click-outside.js" />

    </f:view>
</h:body>
</html>