<ui:composition template="/WEB-INF/templates/student-template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">

    <ui:define name="metadata">
        <f:metadata>
            <o:viewParam name="teachingId" value="#{studentTeachingBean.teachingId}" requiredMessage="No task specified." default="#{studentTeachingBean.defaultStudentTeaching.id}">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <o:viewParam name="taskId" value="#{studentTaskBean.taskId}" requiredMessage="No task specified.">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <f:viewAction action="#{studentTaskBean.initTask}"/>
            <f:viewAction action="#{studentTeachingBean.initTeaching}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        Úkol
    </ui:define>

    <ui:define name="content">

        <p:panelGrid columns="2" columnClasses="ui-g-12 ui-md-12 ui-lg-6, ui-g-12 ui-md-12 ui-lg-6" layout="grid">

            <p:column>
                <h1>Zadání úkolu (#{empty studentTaskBean.task.name ? 'Úkol bez názvu' : studentTaskBean.task.name})</h1>
                <h:outputText value="#{studentTaskBean.task.text}" escape="false"/> <br/>

                <h:form id="form-attempt" rendered="#{studentTaskBean.getLoggedInStudentsTaskStateRaw(studentTaskBean.task).equals('new') || studentTaskBean.getLoggedInStudentsTaskStateRaw(studentTaskBean.task).equals('returned')}">
                    <h2 style="margin-top:0">Nový pokus</h2>
                    <p:growl id="msgs" showDetail="true" skipDetailIfEqualsSummary="true" />
                    <p:textEditor widgetVar="editor-attempt" value="#{studentTaskBean.attemptText}" height="300" style="margin-bottom:10px" secure="false" required="true" requiredMessage="Řešení úkolu je povinné pole"/>

                    <p:commandButton id="btn-add-attempt" value="Odeslat" action="#{studentTaskBean.createAttempt()}" update=":form-attempt:msgs" />

                </h:form>

            </p:column>

            <p:column>
                <h1>Odevzdané pokusy</h1>
                <ui:repeat value="#{studentTaskBean.loggedInStudentsAttemptsReverseSorted}" var="attempt">

                    <p:link style="text-decoration: none!important;" outcome="/student/tasks/task/attempt">
                        <p:card style="width: 100%;">

                            <f:facet name="title">
                                <h:outputText value="#{attempt.stateCzechFormated}"/>
                            </f:facet>
                            <f:facet name="subtitle">
                                <h:outputText value="#{attempt.timeFormated}" />
                            </f:facet>

                            <h:outputText value="#{attempt.text}" escape="false"/>

                            <h:outputText style="font-weight: bold;" value="Zpětná vazba" rendered="#{not empty attempt.feedback}"/>
                            <h:outputText value="#{attempt.feedback}" escape="false"/>
                        </p:card>

                        <f:param name="attemptId" value="#{attempt.id}" />
                        <f:param name="teachingId" value="#{studentTeachingBean.teachingId}" />
                        <f:param name="taskId" value="#{studentTaskBean.taskId}" />
                    </p:link>

                    <br/>

                </ui:repeat>
            </p:column>

        </p:panelGrid>

    </ui:define>
</ui:composition>