<ui:composition template="/WEB-INF/templates/teacher-template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">

    <ui:define name="metadata">
        <f:metadata>
            <o:viewParam name="teachingId" value="#{teacherTeachingBean.teachingId}">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <o:viewParam name="classroomId" value="#{teacherUserBackingBean.classroomId}">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <f:viewAction action="#{teacherUserBackingBean.setClassroom}"/>
            <f:viewAction action="#{teacherTeachingBean.init}"/>

        </f:metadata>
    </ui:define>

    <ui:define name="title">
        Třídní kniha
    </ui:define>

    <ui:define name="content">

        <h2>Třídní kniha</h2>
        <p:dataTable widgetVar="data-table-students" id="data-table-students" var="student" value="#{teacherUserBackingBean.studentStatisticsListDataModel}" size="small" emptyMessage="Žádní žáci">

            <p:column headerText="Žák" sortBy="#{student.studentFirstname} #{student.studentSurname}" sortOrder="asc">
                <h:outputText value="#{student.studentFirstname} #{student.studentSurname}" />
            </p:column>

            <p:column headerText="Body za dobrovolné úkoly" sortBy="#{student.points}">
                <h:outputText value="#{student.points}" />
            </p:column>
            <p:column headerText="Nové" sortBy="#{student.numberOfTasksInNewState}">
                <h:outputText value="#{student.numberOfTasksInNewState}" />
            </p:column>
            <p:column headerText="Odevzdané" sortBy="#{student.numberOfTasksInSubmittedState}">
                <h:outputText value="#{student.numberOfTasksInSubmittedState}" />
            </p:column>
            <p:column headerText="Vrácené" sortBy="#{student.numberOfTasksInReturnedState}">
                <h:outputText value="#{student.numberOfTasksInReturnedState}" />
            </p:column>
            <p:column headerText="Odevzdané znovu" sortBy="#{student.numberOfTasksInResubmittedState}">
                <h:outputText value="#{student.numberOfTasksInResubmittedState}" />
            </p:column>
            <p:column headerText="Schválené" sortBy="#{student.numberOfTasksInAcceptedState}">
                <h:outputText value="#{student.numberOfTasksInAcceptedState}" />
            </p:column>
            <p:column headerText="Omluvené" sortBy="#{student.numberOfTasksInExcusedState}">
                <h:outputText value="#{student.numberOfTasksInExcusedState}" />
            </p:column>
            <p:column headerText="Nesplněné" sortBy="#{student.numberOfTasksInFailedState}">
                <h:outputText value="#{student.numberOfTasksInFailedState}" />
            </p:column>

        </p:dataTable>

    </ui:define>
</ui:composition>
