<ui:composition template="/WEB-INF/templates/teacher-template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">

    <ui:define name="metadata">
        <f:metadata>
            <o:viewParam name="teachingId" value="#{teacherTeachingBean.teachingId}">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <o:viewParam name="classroomId" value="#{teacherUserBackingBean.classroomId}">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <f:viewAction action="#{teacherTeachingBean.init}"/>
            <f:viewAction action="#{teacherUserBackingBean.setClassroom}"/>
            <f:viewAction action="#{teacherTaskBean.initNewTask('extra')}"/>

        </f:metadata>
    </ui:define>

    <ui:define name="title">
        Cvičení za body
    </ui:define>

    <ui:define name="content">

        <h1>Cvičení za body</h1>
        <h:form id="table-form">

            <p:tabView id="tab-view" dynamic="true" cache="true">
                <p:tab id="tab-active" title="Aktivní">
                    <p:dataTable widgetVar="data-table-tasks" id="data-table-tasks" var="task" value="#{teacherTaskBean.getTaskWithStatisticsListDataModel('extra')}" size="small" emptyMessage="Žádné úkoly" >

                        <f:facet name="header">
                            <div class="buttonbar flex-end">
                                <div>
                                    <p:commandButton id="toggler" type="button" value="Vybrat sloupce" icon="pi pi-align-justify" />
                                    <p:columnToggler datasource="data-table-tasks" trigger="toggler" />
                                </div>
                            </div>

                        </f:facet>

                        <p:column headerText="Název" sortBy="#{task.taskName}">
                            <p:link outcome="/teacher/tasks/task" value="#{empty task.taskName ? 'Úkol bez názvu' : task.taskName}" >
                                <f:param name="taskId" value="#{task.taskId}" />
                                <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                                <f:param name="classroomId" value="#{teacherUserBackingBean.classroomId}" />
                            </p:link>
                        </p:column>

                        <p:column headerText="Vytvořeno" sortBy="#{task.taskDate}" visible="false">
                            <h:outputText value="#{task.taskDate}" />
                        </p:column>

                        <p:column headerText="Nedokončeno" sortBy="#{task.numberOfStudentsInNewState + task.numberOfStudentsInReturnedState}">
                            <p:linkButton outcome="/teacher/tasks/task" rendered="#{task.numberOfStudentsInNewState + task.numberOfStudentsInReturnedState > 0}" value="#{(task.numberOfStudentsInNewState + task.numberOfStudentsInReturnedState).toString()}" styleClass="rounded-button ui-button-warning" >
                                <f:param name="taskId" value="#{task.taskId}" />
                                <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                                <f:param name="state" value="new" />
                                <f:param name="state" value="returned" />
                            </p:linkButton>
                        </p:column>
                        <p:column headerText="Odevzdáno" sortBy="#{task.numberOfStudentsInSubmittedState + task.numberOfStudentsInResubmittedState}">
                            <p:linkButton outcome="/teacher/tasks/task" rendered="#{task.numberOfStudentsInSubmittedState + task.numberOfStudentsInResubmittedState > 0}" value="#{(task.numberOfStudentsInSubmittedState + task.numberOfStudentsInResubmittedState).toString()}" styleClass="rounded-button ui-button-info" >
                                <f:param name="taskId" value="#{task.taskId}" />
                                <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                                <f:param name="state" value="submitted" />
                                <f:param name="state" value="resubmitted" />
                            </p:linkButton>
                        </p:column>
                        <p:column headerText="Schváleno" sortBy="#{task.numberOfStudentsInAcceptedState}">
                            <p:linkButton outcome="/teacher/tasks/task" rendered="#{task.numberOfStudentsInAcceptedState > 0}" value="#{(task.numberOfStudentsInAcceptedState).toString()}" styleClass="rounded-button ui-button-success" >
                                <f:param name="taskId" value="#{task.taskId}" />
                                <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                                <f:param name="state" value="accepted" />
                            </p:linkButton>
                        </p:column>
                        <p:column headerText="Omluven" sortBy="#{task.numberOfStudentsInExcusedState}" visible="false">
                            <p:linkButton outcome="/teacher/tasks/task" rendered="#{task.numberOfStudentsInExcusedState > 0}" value="#{(task.numberOfStudentsInExcusedState).toString()}" styleClass="rounded-button ui-button-secondary" >
                                <f:param name="taskId" value="#{task.taskId}" />
                                <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                                <f:param name="state" value="excused" />
                            </p:linkButton>
                        </p:column>
                        <p:column headerText="Nesplněno" sortBy="#{task.numberOfStudentsInFailedState}">
                            <p:linkButton outcome="/teacher/tasks/task" rendered="#{task.numberOfStudentsInFailedState > 0}" value="#{(task.numberOfStudentsInFailedState).toString()}" styleClass="rounded-button ui-button-danger" >
                                <f:param name="taskId" value="#{task.taskId}" />
                                <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                                <f:param name="state" value="failed" />
                            </p:linkButton>
                        </p:column>
                        <p:column headerText="Začátek" sortBy="#{task.taskTimeFrom}" visible="false">
                            <h:outputText value="#{task.taskTimeFrom}" />
                        </p:column>
                        <p:column headerText="Počet bodů" sortBy="#{task.points}">
                            <h:outputText value="#{task.points}" />
                        </p:column>

                        <p:column style="width:6rem;text-align: center" exportable="false">
                            <p:linkButton outcome="/teacher/tasks/task" icon="pi pi-search" title="Detail" value="Detail">
                                <f:param name="taskId" value="#{task.taskId}" />
                                <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                                <f:param name="classroomId" value="#{teacherUserBackingBean.classroomId}" />
                            </p:linkButton>
                        </p:column>

                    </p:dataTable>
                </p:tab>

                <p:tab id="tab-completed" title="Dokončené">
                    <p:dataTable widgetVar="data-table-completed-tasks" id="data-table-completed-tasks" var="task" value="#{teacherTaskBean.getCompletedTaskWithStatisticsListDataModel('extra')}" size="small" emptyMessage="Žádné úkoly" >

                        <f:facet name="header">
                            <div class="buttonbar flex-end">
                                <div>
                                    <p:commandButton id="toggler-completed" type="button" value="Vybrat sloupce" icon="pi pi-align-justify" />
                                    <p:columnToggler datasource="data-table-completed-tasks" trigger="toggler-completed" />
                                </div>
                            </div>

                        </f:facet>

                        <p:column headerText="Název" sortBy="#{task.taskName}">
                            <p:link outcome="/teacher/tasks/task" value="#{empty task.taskName ? 'Úkol bez názvu' : task.taskName}" >
                                <f:param name="taskId" value="#{task.taskId}" />
                                <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                                <f:param name="classroomId" value="#{teacherUserBackingBean.classroomId}" />
                            </p:link>
                        </p:column>

                        <p:column headerText="Vytvořeno" sortBy="#{task.taskDate}" visible="false">
                            <h:outputText value="#{task.taskDate}" />
                        </p:column>

                        <p:column headerText="Nedokončeno" sortBy="#{task.numberOfStudentsInNewState + task.numberOfStudentsInReturnedState}">
                            <p:linkButton outcome="/teacher/tasks/task" rendered="#{task.numberOfStudentsInNewState + task.numberOfStudentsInReturnedState > 0}" value="#{(task.numberOfStudentsInNewState + task.numberOfStudentsInReturnedState).toString()}" styleClass="rounded-button ui-button-warning" >
                                <f:param name="taskId" value="#{task.taskId}" />
                                <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                                <f:param name="state" value="new" />
                                <f:param name="state" value="returned" />
                            </p:linkButton>
                        </p:column>
                        <p:column headerText="Odevzdáno" sortBy="#{task.numberOfStudentsInSubmittedState + task.numberOfStudentsInResubmittedState}">
                            <p:linkButton outcome="/teacher/tasks/task" rendered="#{task.numberOfStudentsInSubmittedState + task.numberOfStudentsInResubmittedState > 0}" value="#{(task.numberOfStudentsInSubmittedState + task.numberOfStudentsInResubmittedState).toString()}" styleClass="rounded-button ui-button-info" >
                                <f:param name="taskId" value="#{task.taskId}" />
                                <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                                <f:param name="state" value="submitted" />
                                <f:param name="state" value="resubmitted" />
                            </p:linkButton>
                        </p:column>
                        <p:column headerText="Schváleno" sortBy="#{task.numberOfStudentsInAcceptedState}">
                            <p:linkButton outcome="/teacher/tasks/task" rendered="#{task.numberOfStudentsInAcceptedState > 0}" value="#{(task.numberOfStudentsInAcceptedState).toString()}" styleClass="rounded-button ui-button-success" >
                                <f:param name="taskId" value="#{task.taskId}" />
                                <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                                <f:param name="state" value="accepted" />
                            </p:linkButton>
                        </p:column>
                        <p:column headerText="Omluven" sortBy="#{task.numberOfStudentsInExcusedState}" visible="false">
                            <p:linkButton outcome="/teacher/tasks/task" rendered="#{task.numberOfStudentsInExcusedState > 0}" value="#{(task.numberOfStudentsInExcusedState).toString()}" styleClass="rounded-button ui-button-secondary" >
                                <f:param name="taskId" value="#{task.taskId}" />
                                <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                                <f:param name="state" value="excused" />
                            </p:linkButton>
                        </p:column>
                        <p:column headerText="Nesplněno" sortBy="#{task.numberOfStudentsInFailedState}">
                            <p:linkButton outcome="/teacher/tasks/task" rendered="#{task.numberOfStudentsInFailedState > 0}" value="#{(task.numberOfStudentsInFailedState).toString()}" styleClass="rounded-button ui-button-danger" >
                                <f:param name="taskId" value="#{task.taskId}" />
                                <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                                <f:param name="state" value="failed" />
                            </p:linkButton>
                        </p:column>
                        <p:column headerText="Začátek" sortBy="#{task.taskTimeFrom}" visible="false">
                            <h:outputText value="#{task.taskTimeFrom}" />
                        </p:column>

                        <p:column headerText="Počet bodů" sortBy="#{task.points}">
                            <h:outputText value="#{task.points}" />
                        </p:column>

                        <p:column style="width:6rem;text-align: center" exportable="false">
                            <p:linkButton outcome="/teacher/tasks/task" icon="pi pi-search" title="Detail" value="Detail">
                                <f:param name="taskId" value="#{task.taskId}" />
                                <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                                <f:param name="classroomId" value="#{teacherUserBackingBean.classroomId}" />
                            </p:linkButton>
                        </p:column>

                    </p:dataTable>
                </p:tab>
            </p:tabView>

        </h:form>

        <h:form id="form-new-task" style="margin-top: 5rem">
            <h2>Vytvořit úkol</h2>
            <p:growl id="msgs" showDetail="true" skipDetailIfEqualsSummary="true" />


            <h:panelGroup id="panel-group-container" layout="block" styleClass="p-sm-6" >
                <div class="p-field p-grid">
                    <p:outputLabel for="new-task-name" styleClass="p-col-fixed" style="width:150px" value="Jméno úkolu" />
                    <h:panelGrid columns="1">
                        <p:inputText id="new-task-name" value="#{teacherTaskBean.task.name}" required="true" requiredMessage="Název je povinné pole"/>
                    </h:panelGrid>
                </div>

                <div class="p-field p-grid">
                    <p:outputLabel for="new-task-points" styleClass="p-col-fixed" style="width:150px" value="Počet bodů" />
                    <h:panelGrid columns="1">
                        <p:inputText id="new-task-points" value="#{teacherTaskBean.task.points}" required="true" requiredMessage="Počet bodů je povinné pole"/>
                        <p:slider for="new-task-points" range="false" minValue="0" maxValue="100"/>
                    </h:panelGrid>
                </div>
            </h:panelGroup>


            <p:textEditor id="new-task-editor" placeholder="Prázdné zadání..." widgetVar="new-task-editor" value="#{teacherTaskBean.task.text}" height="300" style="margin-bottom:10px" secure="false" required="true" requiredMessage="Text zadání je povinné pole"/>
            <p:commandButton id="btn-add-task" value="Vytvořit" action="#{teacherTaskBean.createTask('extra')}" update=":table-form:tab-view:data-table-completed-tasks :table-form:tab-view:data-table-tasks :form-new-task :form-new-task:msgs" />
        </h:form>


    </ui:define>
</ui:composition>
