<ui:composition template="/WEB-INF/templates/teacher-template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">

    <ui:define name="metadata">
        <f:metadata>
            <o:viewParam name="teachingId" value="#{teacherTeachingBean.teachingId}">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <o:viewParam name="classroomId" value="#{teacherUserBackingBean.classroomId}">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <f:viewAction action="#{teacherTeachingBean.init}"/>
            <f:viewAction action="#{teacherUserBackingBean.setClassroom}"/>

        </f:metadata>
    </ui:define>

    <ui:define name="title">
        Seznam žáků
    </ui:define>

    <ui:define name="content">

        <h2>Seznam žáků</h2>

        <h:form id="form">

            <p:growl id="messages" showDetail="true" skipDetailIfEqualsSummary="true" />

            <p:dataTable widgetVar="dt-students" id="dt-students" var="student" value="#{teacherTeachingBean.teaching.classroom.studentCollection}" size="small" emptyMessage="Žádní žáci">

                <f:facet name="header">
                    <div class="buttonbar">
                        <div>
                            <p:commandButton id="btn-add-student" value="Přidat" icon="pi pi-plus" actionListener="#{teacherStudentBean.initNewStudent}"
                                             update=":form:manage-student-content" oncomplete="PF('manageStudentDialog').show()"
                                             styleClass="ui-button-success" style="margin-right: .5rem">
                                <p:resetInput target=":form:manage-student-content"/>
                            </p:commandButton>
                        </div>
                        <div>
                            <p:commandButton id="toggler" type="button" value="Vybrat sloupce" icon="pi pi-align-justify" />
                            <p:columnToggler datasource="dt-students" trigger="toggler" />
                        </div>
                    </div>

                </f:facet>

                <p:column headerText="Username" visible="false">
                    <h:outputText value="#{student.userAccount.username}" />
                </p:column>

                <p:column headerText="Jméno a příjmení">
                    <p:link outcome="/teacher/students/student" value="#{student.userAccount.firstname} #{student.userAccount.surname}" >
                        <f:param name="studentId" value="#{student.id}" />
                        <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                        <f:param name="classroomId" value="#{teacherUserBackingBean.classroomId}" />
                    </p:link>
                </p:column>

                <p:column headerText="Pohlaví" visible="false">
                    <h:outputText value="#{student.userAccount.genderFormatted}" />
                </p:column>

                <p:column headerText="Email">
                    <h:outputText value="#{student.userAccount.email}" />
                </p:column>

                <p:column headerText="Mobil">
                    <h:outputText value="#{student.userAccount.phone}" />
                </p:column>

                <p:column headerText="Adresa">
                    <h:outputText value="#{student.userAccount.fullAddress}" />
                </p:column>

                <p:column headerText="Datum registrace" visible="false">
                    <h:outputText value="#{student.userAccount.registeredFormatted}" />
                </p:column>

                <p:column headerText="Datum narození" visible="false">
                    <h:outputText value="#{student.userAccount.birthdayFormatted}" />
                </p:column>

                <p:column style="width:5rem;text-align: center" exportable="false">

                    <p:commandButton icon="pi pi-pencil" update=":form:manage-student-content"
                                     oncomplete="PF('manageStudentDialog').show()"
                                     styleClass="ui-button-success" style="margin-right: 0.25rem;" process="@this">
                        <f:setPropertyActionListener value="#{student}" target="#{teacherStudentBean.student}"/>
                        <p:resetInput target=":form:manage-student-content"/>
                    </p:commandButton>

                    <p:linkButton outcome="/teacher/students/student" icon="pi pi-search" title="Detail">
                        <f:param name="studentId" value="#{student.id}" />
                        <f:param name="teachingId" value="#{teacherTeachingBean.teachingId}" />
                        <f:param name="classroomId" value="#{teacherUserBackingBean.classroomId}" />
                    </p:linkButton>
                </p:column>

            </p:dataTable>


            <p:dialog header="Detail studenta" width="450" showEffect="fade" modal="true"
                      widgetVar="manageStudentDialog" responsive="true" style="max-height: 90%;overflow-y: auto;">
                <p:outputPanel id="manage-student-content" class="ui-fluid">
                    <p:outputPanel>
                        <div class="p-field">
                            <p:outputLabel for="firstname">Jméno</p:outputLabel>
                            <p:inputText id="firstname" value="#{teacherStudentBean.student.userAccount.firstname}" required="true" requiredMessage="Jméno je povinné pole"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="surname">Příjmení</p:outputLabel>
                            <p:inputText id="surname" value="#{teacherStudentBean.student.userAccount.surname}" required="true" requiredMessage="Příjmení je povinné pole"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="gender">Pohlaví</p:outputLabel>
                            <p:selectOneMenu id="gender" value="#{teacherStudentBean.student.userAccount.gender}" layout="responsive" required="true" requiredMessage="Pohlaví je povinné pole">
                                <f:selectItem itemValue="#{null}" itemLabel="-- zvolit --" />
                                <f:selectItem itemValue="male" itemLabel="Muž" />
                                <f:selectItem itemValue="female" itemLabel="Žena" />
                            </p:selectOneMenu>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="phone">Telefon</p:outputLabel>
                            <p:inputText id="phone" value="#{teacherStudentBean.student.userAccount.phone}" required="true" requiredMessage="Telefon je povinné pole"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="email">Email</p:outputLabel>
                            <p:inputText id="email" value="#{teacherStudentBean.student.userAccount.email}" required="true" requiredMessage="Email je povinné pole"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="street">Ulice</p:outputLabel>
                            <p:inputText id="street" value="#{teacherStudentBean.student.userAccount.street}"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="zip">PSČ</p:outputLabel>
                            <p:inputText id="zip" value="#{teacherStudentBean.student.userAccount.zip}"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="city">Město</p:outputLabel>
                            <p:inputText id="city" value="#{teacherStudentBean.student.userAccount.city}"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="birthday">Datum narození</p:outputLabel>
                            <p:datePicker id="birthday" value="#{teacherStudentBean.student.userAccount.birthday}" monthNavigator="true" yearNavigator="true" locale="cs" pattern="dd.MM.yyyy"/>
                        </div>
                    </p:outputPanel>
                </p:outputPanel>

                <f:facet name="footer">
                    <p:defaultCommand target="save-command-button"/>
                    <p:commandButton id="save-command-button" value="Uložit" icon="pi pi-check" actionListener="#{teacherStudentBean.saveStudent}"
                                     update="manage-student-content dt-students messages" process="manage-student-content @this"/>
                    <p:commandButton value="Zrušit" icon="pi pi-times" onclick="PF('manageStudentDialog').hide()"
                                     class="ui-button-secondary" update="manage-student-content" process="@this" >
                        <p:resetInput target="manage-student-content"/>
                    </p:commandButton>
                </f:facet>
            </p:dialog>

        </h:form>








    </ui:define>
</ui:composition>
