<ui:composition template="/WEB-INF/templates/admin-template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">

    <ui:define name="metadata">
        <f:metadata>
            <o:viewParam name="studentId" value="#{adminStudentBean.studentId}">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <f:viewAction action="#{adminStudentBean.initStudent}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        Admin - detail žáka
    </ui:define>

    <ui:define name="content">

        <p:panelGrid columns="2" columnClasses="ui-g-12 ui-md-12 ui-lg-6, ui-g-12 ui-md-12 ui-lg-6" styleClass="noBorders" layout="grid">
            <p:column>
                <h1>Profil žáka</h1>
                <p:panelGrid columns="2" styleClass="noBorders">
                    <f:facet name="header">
                        <h:graphicImage value="/avatars/user/#{adminStudentBean.student.userAccount.id}" styleClass="half-width" />
                    </f:facet>

                    <h:outputText value="Jméno a příjmení:"/>
                    <h:outputText value="#{adminStudentBean.student.userAccount.firstname} #{adminStudentBean.student.userAccount.surname}"/>

                    <h:outputText value="Pohlaví:"/>
                    <h:outputText value="#{adminStudentBean.student.userAccount.genderFormatted}"/>

                    <h:outputText value="Třída:"/>
                    <h:outputText value="#{adminStudentBean.student.classroom.name}"/>

                    <h:outputText value="Třídní učitel:"/>
                    <h:outputText value="#{adminStudentBean.student.classroom.teacher.userAccount.firstname} #{adminStudentBean.student.classroom.teacher.userAccount.surname}"/>

                    <h:outputText value="Email:"/>
                    <h:outputText value="#{adminStudentBean.student.userAccount.email}"/>

                    <h:outputText value="Telefon:"/>
                    <h:outputText value="#{adminStudentBean.student.userAccount.phone}"/>

                    <h:outputText value="Adresa:"/>
                    <h:outputText value="#{adminStudentBean.student.userAccount.fullAddress}"/>
                </p:panelGrid>

                <h2>Změnit heslo</h2>
                <h:form id="form">
                    <p:growl id="messages" showDetail="true" skipDetailIfEqualsSummary="true" />
                    <p:panelGrid columns="2" styleClass="noBorders" id="changePasswordPanelGrid">

                        <p:outputLabel for="currentPassword" value="Současné heslo:"/>
                        <p:inputText type="password" id="currentPassword" value="#{userBackingBean.currentPassword}" required="true" requiredMessage="Současné heslo je povinné pole"/>

                        <p:outputLabel for="newPassword" value="Nové heslo:"/>
                        <p:inputText type="password" id="newPassword" value="#{userBackingBean.newPassword}" required="true" requiredMessage="Nové heslo je povinné pole"/>

                        <p:outputLabel for="newPasswordRepeated" value="Nové heslo znovu:"/>
                        <p:inputText type="password" id="newPasswordRepeated" value="#{userBackingBean.newPasswordRepeated}" required="true" requiredMessage="Nové heslo znovu je povinné pole"/>

                        <p:defaultCommand target="save-command-button"/>
                        <p:commandButton id="save-command-button" value="Změnit heslo" icon="pi pi-check" actionListener="#{userBackingBean.changePassword(adminStudentBean.student.userAccount.id)}"
                                         update="messages form:changePasswordPanelGrid" />

                    </p:panelGrid>
                </h:form>

            </p:column>

            <p:column>
                <h1>Aktuální předměty</h1>

                <p:dataTable var="teaching" value="#{adminStudentBean.student.classroom.teachingCollection}" size="small">

                    <p:column sortBy="#{teaching.subject.name}" headerText="Předmět" >
                        <h:outputText value="#{teaching.subject.name}" />
                    </p:column>

                    <p:column sortBy="#{teaching.teacher.userAccount.firstname} #{teaching.teacher.userAccount.surname}" headerText="Vyučující" >
                        <h:outputText value="#{teaching.teacher.userAccount.firstname} #{teaching.teacher.userAccount.surname}" />
                    </p:column>

                    <p:column sortBy="#{teaching.classroom.name}" headerText="Známka" >
                        <h:outputText value="#{adminStudentBean.getStudentSummaryForRhsTeaching(teaching.id).finalGrade}" />
                    </p:column>


                </p:dataTable>
            </p:column>


        </p:panelGrid>

    </ui:define>
</ui:composition>
