<ui:composition template="/WEB-INF/templates/student-template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="teachingId" value="#{studentTeachingBean.teachingId}">
                <f:validateLongRange minimum="1"/>
            </f:viewParam>
            <f:viewAction action="#{studentTeachingBean.initTeaching}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        Cvičení za body
    </ui:define>

    <ui:define name="content">

        <h2>Cvičení za body</h2>
        <h:form id="form">

            <div class="card">
                <p:tabView dynamic="true" cache="true">
                    <p:tab title="Nesplněné">

                        <p:dataTable widgetVar="data-table-tasks" id="data-table-tasks" var="task" value="#{studentTaskBean.extraNotYetAcceptedTasks}" size="small" emptyMessage="Žádné takové úkoly nejsou.">

                            <f:facet name="header">
                                <div class="buttonbar flex-end">
                                    <div>
                                        <p:commandButton id="toggler" type="button" value="Vybrat sloupce" icon="pi pi-align-justify" />
                                        <p:columnToggler datasource="data-table-tasks" trigger="toggler" />
                                    </div>
                                </div>

                            </f:facet>

                            <p:column headerText="Název" sortBy="#{task.name}">
                                <p:link outcome="/student/tasks/task" value="#{empty task.name ? 'Úkol bez názvu' : task.name}" >
                                    <f:param name="taskId" value="#{task.id}" />
                                    <f:param name="teachingId" value="#{studentTeachingBean.teachingId}" />
                                </p:link>
                            </p:column>

                            <p:column headerText="Stav" sortBy="#{studentTaskBean.getLoggedInStudentsTaskState(task)}">
                                <h:outputText value="#{studentTaskBean.getLoggedInStudentsTaskState(task)}" />
                            </p:column>

                            <p:column headerText="Počet bodů" sortBy="#{task.points}" sortOrder="desc">
                                <h:outputText value="#{task.points}" />
                            </p:column>

                            <p:column style="width:6rem;text-align: center" exportable="false">
                                <p:linkButton outcome="/student/tasks/task" icon="pi pi-search" title="Detail" value="Detail">
                                    <f:param name="taskId" value="#{task.id}" />
                                    <f:param name="teachingId" value="#{studentTeachingBean.teachingId}" />
                                </p:linkButton>
                            </p:column>

                        </p:dataTable>

                    </p:tab>

                    <p:tab title="Odeslané">

                        <p:dataTable widgetVar="data-table-tasks-submitted-or-resubmitted" id="data-table-tasks-submitted-or-resubmitted" var="task" value="#{studentTaskBean.extraAlreadySentTasks}" size="small" emptyMessage="Žádné takové úkoly nejsou.">

                            <f:facet name="header">
                                <div class="buttonbar flex-end">
                                    <div>
                                        <p:commandButton id="toggler-submitted-or-resubmitted" type="button" value="Vybrat sloupce" icon="pi pi-align-justify" />
                                        <p:columnToggler datasource="data-table-tasks-submitted-or-resubmitted" trigger="toggler-submitted-or-resubmitted" />
                                    </div>
                                </div>

                            </f:facet>

                            <p:column headerText="Název" sortBy="#{task.name}">
                                <p:link outcome="/student/tasks/task" value="#{empty task.name ? 'Úkol bez názvu' : task.name}" >
                                    <f:param name="taskId" value="#{task.id}" />
                                    <f:param name="teachingId" value="#{studentTeachingBean.teachingId}" />
                                </p:link>
                            </p:column>

                            <p:column headerText="Stav" sortBy="#{studentTaskBean.getLoggedInStudentsTaskState(task)}">
                                <h:outputText value="#{studentTaskBean.getLoggedInStudentsTaskState(task)}" />
                            </p:column>

                            <p:column headerText="Počet bodů" sortBy="#{task.points}" sortOrder="desc">
                                <h:outputText value="#{task.points}" />
                            </p:column>

                            <p:column style="width:6rem;text-align: center" exportable="false">
                                <p:linkButton outcome="/student/tasks/task" icon="pi pi-search" title="Detail" value="Detail">
                                    <f:param name="taskId" value="#{task.id}" />
                                    <f:param name="teachingId" value="#{studentTeachingBean.teachingId}" />
                                </p:linkButton>
                            </p:column>

                        </p:dataTable>

                    </p:tab>

                    <p:tab title="Hotové">

                        <p:dataTable widgetVar="data-table-tasks-accepted" id="data-table-tasks-accepted" var="task" value="#{studentTaskBean.extraAlreadyAcceptedTasks}" size="small" emptyMessage="Žádné takové úkoly nejsou.">

                            <f:facet name="header">
                                <div class="buttonbar flex-end">
                                    <div>
                                        <p:commandButton id="toggler-accepted" type="button" value="Vybrat sloupce" icon="pi pi-align-justify" />
                                        <p:columnToggler datasource="data-table-tasks-accepted" trigger="toggler-accepted" />
                                    </div>
                                </div>

                            </f:facet>

                            <p:column headerText="Název" sortBy="#{task.name}">
                                <p:link outcome="/student/tasks/task" value="#{empty task.name ? 'Úkol bez názvu' : task.name}" >
                                    <f:param name="taskId" value="#{task.id}" />
                                    <f:param name="teachingId" value="#{studentTeachingBean.teachingId}" />
                                </p:link>
                            </p:column>

                            <p:column headerText="Stav" sortBy="#{studentTaskBean.getLoggedInStudentsTaskState(task)}">
                                <h:outputText value="#{studentTaskBean.getLoggedInStudentsTaskState(task)}" />
                            </p:column>

                            <p:column headerText="Počet bodů" sortBy="#{task.points}" sortOrder="desc">
                                <h:outputText value="#{task.points}" />
                            </p:column>

                            <p:column style="width:6rem;text-align: center" exportable="false">
                                <p:linkButton outcome="/student/tasks/task" icon="pi pi-search" title="Detail" value="Detail">
                                    <f:param name="taskId" value="#{task.id}" />
                                    <f:param name="teachingId" value="#{studentTeachingBean.teachingId}" />
                                </p:linkButton>
                            </p:column>

                        </p:dataTable>

                    </p:tab>
                </p:tabView>
            </div>



        </h:form>

    </ui:define>
</ui:composition>
