<ui:composition template="/WEB-INF/templates/student-profile-template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">

    <ui:define name="metadata">
        <f:metadata>
            <o:viewParam name="userAccountId" value="#{studentUserBackingBean.userAccountId}">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <f:viewAction action="#{studentUserBackingBean.initUserAccount}"/>
            <f:viewAction action="#{studentStudentBean.initStudent}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        Detail uživatele
    </ui:define>

    <ui:define name="content">

        <h:form id="form">

            <p:growl id="messages" showDetail="true" skipDetailIfEqualsSummary="true" />

            <p:panelGrid columns="2" columnClasses="ui-g-12 ui-md-12 ui-lg-6, ui-g-12 ui-md-12 ui-lg-6" styleClass="noBorders" layout="grid">

                <p:column styleClass="p-lg-6">

                    <h1>Profil žáka</h1>
                    <p:panelGrid columns="2" styleClass="noBorders">
                        <f:facet name="header">
                            <p:outputPanel id="profile-avatar" class="profile-image-container">
                                <p:graphicImage value="/avatars/user/#{studentUserBackingBean.userAccount.id}" cache="false" />
                                <p:commandButton styleClass="edit-image-btn ui-button-success rounded-button" icon="pi pi-pencil" oncomplete="PF('manageAvatarDialog').show()" process="@this"/>
                            </p:outputPanel>
                        </f:facet>

                        <h:outputText value="Jméno a příjmení:"/>
                        <h:outputText value="#{studentUserBackingBean.userAccount.firstname} #{studentUserBackingBean.userAccount.surname}"/>

                        <h:outputText value="Pohlaví:"/>
                        <h:outputText value="#{studentUserBackingBean.userAccount.genderFormatted}"/>

                        <h:outputText value="Email:"/>
                        <h:outputText value="#{studentUserBackingBean.userAccount.email}"/>

                        <h:outputText value="Telefon:"/>
                        <h:outputText value="#{studentUserBackingBean.userAccount.phone}"/>

                        <h:outputText value="Adresa:"/>
                        <h:outputText value="#{studentUserBackingBean.userAccount.fullAddress}"/>
                    </p:panelGrid>

                    <h2>Změnit heslo</h2>
                    <p:panelGrid columns="2" styleClass="noBorders" id="changePasswordPanelGrid">

                        <p:outputLabel for="currentPassword" value="Současné heslo:"/>
                        <p:inputText type="password" id="currentPassword" value="#{userBackingBean.currentPassword}" required="true" requiredMessage="Současné heslo je povinné pole"/>

                        <p:outputLabel for="newPassword" value="Nové heslo:"/>
                        <p:inputText type="password" id="newPassword" value="#{userBackingBean.newPassword}" required="true" requiredMessage="Nové heslo je povinné pole"/>

                        <p:outputLabel for="newPasswordRepeated" value="Nové heslo znovu:"/>
                        <p:inputText type="password" id="newPasswordRepeated" value="#{userBackingBean.newPasswordRepeated}" required="true" requiredMessage="Nové heslo znovu je povinné pole"/>

                        <p:defaultCommand target="save-command-button"/>
                        <p:commandButton id="save-command-button" value="Změnit heslo" icon="pi pi-check" actionListener="#{userBackingBean.changePassword(userBackingBean.loggedInUser.id)}"
                                         update="messages form:changePasswordPanelGrid" />

                    </p:panelGrid>
                </p:column>

                <p:column>
                    <h1>Aktuální předměty</h1>

                    <p:dataTable var="teaching" value="#{studentUserBackingBean.userAccount.student.classroom.teachingCollection}" >

                        <p:column sortBy="#{teaching.subject.name}" headerText="Předmět" >
                            <h:outputText value="#{teaching.subject.name}" />
                        </p:column>

                        <p:column sortBy="#{teaching.teacher.userAccount.firstname} #{teaching.teacher.userAccount.surname}" headerText="Vyučující" >
                            <h:outputText value="#{teaching.teacher.userAccount.firstname} #{teaching.teacher.userAccount.surname}" />
                        </p:column>

                        <p:column sortBy="#{teaching.classroom.name}" headerText="Známka" >
                            <h:outputText value="#{studentStudentBean.getStudentSummaryForRhsTeaching(teaching.id).finalGrade}" />
                        </p:column>

                    </p:dataTable>
                </p:column>

            </p:panelGrid>



            <p:dialog header="Avatar" width="550" showEffect="fade" modal="true"
                      widgetVar="manageAvatarDialog" responsive="true" style="max-height: 90%;overflow-y: auto;">
                <p:outputPanel id="manage-avatar-content" class="ui-fluid">
                    <p:dataTable id="avatar-dt" var="avatar" value="#{studentStudentBean.usersAvatars}" selectionMode="single"
                                 selection="#{studentStudentBean.usersAvatar}" rowKey="#{avatar.id}" emptyMessage="Žádní avataři k dispozici">
                        <p:ajax event="rowSelect" listener="#{studentStudentBean.changeAvatar}" update=":form:messages :form:profile-avatar :login-form:top-nav-user-profile-avatar"/>

                        <p:column headerText="Název">
                            <h:outputText value="#{avatar.avatar.name}" />
                        </p:column>

                        <p:column headerText="Konec">
                            <h:outputText value="#{avatar.timeToFormatted}" />
                        </p:column>

                        <p:column headerText="Obrázek">
                            <p:graphicImage value="/avatars/#{avatar.avatar.id}" alt="avatar" style="max-width: 50px;" />
                        </p:column>
                    </p:dataTable>
                </p:outputPanel>

            </p:dialog>

        </h:form>

    </ui:define>
</ui:composition>
