<ui:composition template="/WEB-INF/templates/student-template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        New page title here
    </ui:define>

    <ui:define name="content">
        <h1>Zvolen špatný předmět</h1>

        <p>Zvolil(a) jste špatný předmět.</p>
        <p>Vyberte prosím nějaký, který navštěvujete.</p>

    </ui:define>
</ui:composition>
