<ui:composition template="/WEB-INF/templates/admin-template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Admin - seznam administrátorů
    </ui:define>

    <ui:define name="content">
        <h1>Administrátoři</h1>

        <h:form id="form">

            <p:growl id="messages" showDetail="true" skipDetailIfEqualsSummary="true" />

            <p:dataTable id="dt-admins" var="admin" value="#{adminAdminBean.allAdmins}" size="small">

                <f:facet name="header">
                    <div class="buttonbar">
                        <div>
                            <p:commandButton id="btn-add-admin" value="Přidat" icon="pi pi-plus" actionListener="#{adminAdminBean.initNewAdmin}"
                                             update=":form:manage-admin-content" oncomplete="PF('manageAdminDialog').show()"
                                             styleClass="ui-button-success" style="margin-right: .5rem">
                                <p:resetInput target=":form:manage-admin-content"/>
                            </p:commandButton>
                        </div>
                        <div>
                            <p:commandButton id="toggler" type="button" value="Vybrat sloupce" icon="pi pi-align-justify" />
                            <p:columnToggler datasource="dt-admins" trigger="toggler" />
                        </div>
                    </div>
                </f:facet>

                <p:column headerText="Username" sortBy="#{admin.username}">
                    <h:outputText value="#{admin.username}" />
                </p:column>

                <p:column headerText="Jméno a příjmení" sortBy="#{admin.firstname} #{admin.surname}">
                    <h:outputText value="#{admin.firstname} #{admin.surname}" />
                </p:column>

                <p:column headerText="Pohlaví" visible="false">
                    <h:outputText value="#{admin.genderFormatted}" />
                </p:column>

                <p:column headerText="Email" sortBy="#{admin.email}">
                    <h:outputText value="#{admin.email}" />
                </p:column>

                <p:column headerText="Mobil" sortBy="#{admin.phone}">
                    <h:outputText value="#{admin.phone}" />
                </p:column>

                <p:column headerText="Adresa" sortBy="#{admin.fullAddress}">
                    <h:outputText value="#{admin.fullAddress}" />
                </p:column>

                <p:column headerText="Datum registrace" visible="false" sortBy="#{admin.registeredFormatted}">
                    <h:outputText value="#{admin.registeredFormatted}" />
                </p:column>

                <p:column headerText="Datum narození" visible="false" sortBy="#{admin.birthdayFormatted}">
                    <h:outputText value="#{admin.birthdayFormatted}" />
                </p:column>

                <p:column style="width:5rem;text-align: center" exportable="false">

                    <p:commandButton id="btn-admin-edit-#{admin.id}" icon="pi pi-pencil" update=":form:manage-admin-content"
                                     oncomplete="PF('manageAdminDialog').show()"
                                     styleClass="ui-button-success" style="margin-right: 0.25rem;" process="@this">
                        <f:setPropertyActionListener value="#{admin}" target="#{adminAdminBean.admin}"/>
                        <p:resetInput target=":form:manage-admin-content"/>
                    </p:commandButton>

                    <p:linkButton id="btn-admin-detail-#{admin.id}" outcome="/admin/admins/admin" icon="pi pi-search" title="Detail">
                        <f:param name="adminId" value="#{admin.id}" />
                    </p:linkButton>

                </p:column>

            </p:dataTable>


            <p:dialog header="Nový učitel" width="450" showEffect="fade" modal="true"
                      widgetVar="manageAdminDialog" responsive="true" style="max-height: 90%;overflow-y: auto;">
                <p:outputPanel id="manage-admin-content" class="ui-fluid">
                    <p:outputPanel>
                        <div class="p-field">
                            <p:outputLabel for="firstname">Jméno</p:outputLabel>
                            <p:inputText id="firstname" value="#{adminAdminBean.admin.firstname}" required="true" requiredMessage="Jméno je povinné pole"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="surname">Příjmení</p:outputLabel>
                            <p:inputText id="surname" value="#{adminAdminBean.admin.surname}" required="true" requiredMessage="Příjmení je povinné pole"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="gender">Pohlaví</p:outputLabel>
                            <p:selectOneMenu id="gender" value="#{adminAdminBean.admin.gender}" layout="responsive" required="true" requiredMessage="Pohlaví je povinné pole">
                                <f:selectItem itemValue="#{null}" itemLabel="-- zvolit --" />
                                <f:selectItem itemValue="male" itemLabel="Muž" />
                                <f:selectItem itemValue="female" itemLabel="Žena" />
                            </p:selectOneMenu>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="phone">Telefon</p:outputLabel>
                            <p:inputText id="phone" value="#{adminAdminBean.admin.phone}" required="true" requiredMessage="Telefon je povinné pole"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="email">Email</p:outputLabel>
                            <p:inputText id="email" value="#{adminAdminBean.admin.email}" required="true" requiredMessage="Email je povinné pole"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="street">Ulice</p:outputLabel>
                            <p:inputText id="street" value="#{adminAdminBean.admin.street}"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="zip">PSČ</p:outputLabel>
                            <p:inputText id="zip" value="#{adminAdminBean.admin.zip}"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="city">Město</p:outputLabel>
                            <p:inputText id="city" value="#{adminAdminBean.admin.city}"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="birthday">Datum narození</p:outputLabel>
                            <p:datePicker id="birthday" value="#{adminAdminBean.admin.birthday}" monthNavigator="true" yearNavigator="true" locale="cs" pattern="dd.MM.yyyy"/>
                        </div>
                    </p:outputPanel>
                </p:outputPanel>

                <f:facet name="footer">
                    <p:defaultCommand target="save-command-button"/>
                    <p:commandButton id="save-command-button" value="Uložit" icon="pi pi-check" actionListener="#{adminAdminBean.saveAdmin}"
                                     update="manage-admin-content dt-admins messages" process="manage-admin-content @this"/>
                    <p:commandButton value="Zrušit" icon="pi pi-times" onclick="PF('manageAdminDialog').hide()"
                                     class="ui-button-secondary" update="manage-admin-content" process="@this" >
                        <p:resetInput target="manage-admin-content"/>
                    </p:commandButton>
                </f:facet>
            </p:dialog>


        </h:form>



    </ui:define>
</ui:composition>
