<ui:composition template="/WEB-INF/templates/admin-template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Admin - seznam žáků
    </ui:define>

    <ui:define name="content">
        <h1>Žáci</h1>

        <h:form id="form">

            <p:growl id="messages" showDetail="true" skipDetailIfEqualsSummary="true" />

            <p:dataTable id="dt-students" var="student" value="#{userBackingBean.allStudents}" size="small">

                <f:facet name="header">
                    <div class="buttonbar">
                        <div>
                            <p:commandButton id="btn-add-student" value="Přidat" icon="pi pi-plus" actionListener="#{adminStudentBean.initNewStudent}"
                                             update=":form:manage-student-content" oncomplete="PF('manageStudentDialog').show()"
                                             styleClass="ui-button-success" style="margin-right: .5rem">
                                <p:resetInput target=":form:manage-student-content"/>
                            </p:commandButton>
                        </div>
                        <div>
                            <p:commandButton id="toggler" type="button" value="Vybrat sloupce" icon="pi pi-align-justify" />
                            <p:columnToggler datasource="dt-students" trigger="toggler" />
                        </div>
                    </div>
                </f:facet>

                <p:column headerText="Username">
                    <h:outputText value="#{student.userAccount.username}" />
                </p:column>

                <p:column headerText="Jméno a příjmení">
                    <h:outputText value="#{student.userAccount.firstname} #{student.userAccount.surname}" />
                </p:column>

                <p:column headerText="Pohlaví" visible="false">
                    <h:outputText value="#{student.userAccount.genderFormatted}" />
                </p:column>

                <p:column headerText="Email">
                    <h:outputText value="#{student.userAccount.email}" />
                </p:column>

                <p:column headerText="Mobil">
                    <h:outputText value="#{student.userAccount.phone}" />
                </p:column>

                <p:column headerText="Ulice">
                    <h:outputText value="#{student.userAccount.street}" />
                </p:column>

                <p:column headerText="PSČ">
                    <h:outputText value="#{student.userAccount.zip}" />
                </p:column>

                <p:column headerText="Datum registrace">
                    <h:outputText value="#{student.userAccount.registeredFormatted}" />
                </p:column>

                <p:column headerText="Datum narození">
                    <h:outputText value="#{student.userAccount.birthdayFormatted}" />
                </p:column>

                <p:column headerText="Třída">
                    <h:outputText value="#{student.classroom.name}" />
                </p:column>

                <p:column style="width:5rem;text-align: center" exportable="false">

                    <p:commandButton id="btn-student-edit-#{student.id}" icon="pi pi-pencil" update=":form:manage-student-content"
                                     oncomplete="PF('manageStudentDialog').show()"
                                     styleClass="ui-button-success" style="margin-right: 0.25rem;" process="@this">
                        <f:setPropertyActionListener value="#{student}" target="#{adminStudentBean.student}"/>
                        <p:resetInput target=":form:manage-student-content"/>
                    </p:commandButton>

                    <p:linkButton id="btn-student-detail-#{student.id}" outcome="/admin/students/student" icon="pi pi-search" title="Detail">
                        <f:param name="studentId" value="#{student.id}" />
                    </p:linkButton>
                </p:column>

            </p:dataTable>


            <p:dialog header="Nový žák" width="450" showEffect="fade" modal="true"
                      widgetVar="manageStudentDialog" responsive="true" style="max-height: 90%;overflow-y: auto;">
                <p:outputPanel id="manage-student-content" class="ui-fluid">
                    <p:outputPanel>
                        <div class="p-field">
                            <p:outputLabel for="firstname">Jméno</p:outputLabel>
                            <p:inputText id="firstname" value="#{adminStudentBean.student.userAccount.firstname}" required="true" requiredMessage="Jméno je povinné pole"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="surname">Příjmení</p:outputLabel>
                            <p:inputText id="surname" value="#{adminStudentBean.student.userAccount.surname}" required="true" requiredMessage="Příjmení je povinné pole"/>
                        </div>

                        <div class="p-field">
                            <p:outputLabel for="gender">Pohlaví</p:outputLabel>
                            <p:selectOneMenu id="gender" value="#{adminStudentBean.student.userAccount.gender}" layout="responsive" required="true" requiredMessage="Pohlaví je povinné pole">
                                <f:selectItem itemValue="#{null}" itemLabel="-- zvolit --" />
                                <f:selectItem itemValue="male" itemLabel="Muž" />
                                <f:selectItem itemValue="female" itemLabel="Žena" />
                            </p:selectOneMenu>
                        </div>

                        <div class="p-field">
                            <p:outputLabel for="phone">Telefon</p:outputLabel>
                            <p:inputText id="phone" value="#{adminStudentBean.student.userAccount.phone}" required="true" requiredMessage="Telefon je povinné pole"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="email">Email</p:outputLabel>
                            <p:inputText id="email" value="#{adminStudentBean.student.userAccount.email}" required="true" requiredMessage="Email je povinné pole"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="street">Ulice</p:outputLabel>
                            <p:inputText id="street" value="#{adminStudentBean.student.userAccount.street}"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="zip">PSČ</p:outputLabel>
                            <p:inputText id="zip" value="#{adminStudentBean.student.userAccount.zip}"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="city">Město</p:outputLabel>
                            <p:inputText id="city" value="#{adminStudentBean.student.userAccount.city}"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="birthday">Datum narození</p:outputLabel>
                            <p:datePicker id="birthday" value="#{adminStudentBean.student.userAccount.birthday}" monthNavigator="true" yearNavigator="true" locale="cs" pattern="dd.MM.yyyy"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="classroom">Třída</p:outputLabel>
                            <p:selectOneMenu id="classroom" value="#{adminStudentBean.student.classroom}" layout="responsive" converter="omnifaces.SelectItemsConverter" required="true" requiredMessage="Třída je povinné pole">
                                <f:selectItem itemValue="#{null}" itemLabel="-- zvolit --" />
                                <f:selectItems value="#{adminClassroomBean.allClassrooms}" var="classroom" itemValue="#{classroom}" itemLabel="#{classroom.name}" />
                            </p:selectOneMenu>
                        </div>
                    </p:outputPanel>
                </p:outputPanel>

                <f:facet name="footer">
                    <p:defaultCommand target="save-command-button"/>
                    <p:commandButton id="save-command-button" value="Uložit" icon="pi pi-check" actionListener="#{adminStudentBean.saveStudent}"
                                     update="manage-student-content dt-students messages" process="manage-student-content @this"/>
                    <p:commandButton value="Zrušit" icon="pi pi-times" onclick="PF('manageStudentDialog').hide()"
                                     class="ui-button-secondary" update="manage-student-content" process="@this" >
                        <p:resetInput target="manage-student-content"/>
                    </p:commandButton>
                </f:facet>

            </p:dialog>


        </h:form>



    </ui:define>
</ui:composition>
