<ui:composition template="/WEB-INF/templates/teacher-template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">

    <ui:define name="metadata">
        <f:metadata>
            <o:viewParam name="teachingId" value="#{teacherTeachingBean.teachingId}" requiredMessage="No teaching specified.">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <o:viewParam name="taskId" value="#{teacherTaskBean.taskId}" requiredMessage="No task specified.">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <o:viewParam name="attemptId" value="#{teacherAttemptBean.attemptId}" requiredMessage="No attempt specified.">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <o:viewParam name="classroomId" value="#{teacherUserBackingBean.classroomId}" requiredMessage="No classroom specified.">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <f:viewAction action="#{teacherTeachingBean.init}"/>
            <f:viewAction action="#{teacherUserBackingBean.setClassroom}"/>
            <f:viewAction action="#{teacherAttemptBean.initAttempt}"/>
            <f:viewAction action="#{teacherTaskBean.initTask}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        Pokus
    </ui:define>

    <ui:define name="content">

        <p:panelGrid columns="2" columnClasses="ui-g-12 ui-md-12 ui-lg-6, ui-g-12 ui-md-12 ui-lg-6" layout="grid">

            <p:column>
                <h1>Zadání úkolu (<p:link style="font-size: 1em;" outcome="/teacher/tasks/task" includeViewParams="true" value="#{empty teacherAttemptBean.attempt.task.name ? 'Úkol bez názvu' : teacherAttemptBean.attempt.task.name}" />)</h1>
                <h:outputText value="#{teacherAttemptBean.attempt.task.text}" escape="false"/>
            </p:column>

            <p:column>
                <h1>Odevzdaný pokus <h:outputText id="state-label" value="(#{teacherAttemptBean.attempt.stateCzechFormated})"/> | <h:outputText value="#{teacherAttemptBean.attempt.timeFormated}" /></h1>
                <h:outputText value="#{teacherAttemptBean.attempt.text}" escape="false"/>
            </p:column>

        </p:panelGrid>

        <h:form id="form">
            <p:growl id="msgs" showDetail="true" skipDetailIfEqualsSummary="true" />

            <p:panelGrid columns="1" columnClasses="ui-g-12 ui-md-12 ui-lg-12" layout="grid">

                <p:column>
                    <h3>Zpětná vazba</h3>
                    <p:textEditor widgetVar="editor-feedback" value="#{teacherAttemptBean.attempt.feedback}" height="300" style="margin-bottom:10px" secure="false" />
                    <p:commandButton id="btn-accept" style="margin-right:0.5rem;" value="Schválit" icon="pi pi-thumbs-up" styleClass="ui-button-success" action="#{teacherAttemptBean.acceptAttempt}" update=":form:msgs state-label"/>
                    <p:commandButton id="btn-return" value="Vrátit k přepracování" icon="pi pi-thumbs-down" styleClass="ui-button-warning" action="#{teacherAttemptBean.returnAttempt}" update=":form:msgs state-label"/>
                </p:column>

            </p:panelGrid>

        </h:form>


    </ui:define>
</ui:composition>