* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#page-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Style the header */
header {
    background-color: #333;
    text-align: center;
    max-width: 100%;
    display: flex;
}

a img {
    display: block;
}

.column-narrow {
    flex-basis: 15%;
    background-color: #222127;
}

#login-form p a {
    color: white;
    text-decoration: none;
}

.column-narrow > a > img {
    width: 100%;
}

.top-nav-list {
    list-style-type: none;
    flex-basis: 70%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.top-nav-list-row {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.top-nav-list-wrapper {
    background-color: #333;
    display: flex;
    flex-basis: 70%;
    margin: 0;
    padding: 0;
}

.top-nav-list-column {
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

li {
    flex-grow: 1;
    text-align: center;
}

header li {
    border:1px solid #bbb;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ui-button a {
    text-decoration: none;
}

.top-nav-list li:hover:not(.active) {
    background-color: #111;
}

aside li:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #71b2c9;
}


.flex-column {
    display: flex;
    justify-content: center;
    flex-flow: column;
}


/* Left and right column */

.row {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #b1b1b1;
    flex-grow: 1;
}

main {
    flex-basis: 70%;
    padding: 1em;
    border-left: 2px solid #b1b1b1;
    border-right: 2px solid #b1b1b1;
}

aside {
    flex-basis: 15%;
    padding: 1em;
    background-color: #e6ffff;
}

.big {
    padding-bottom: 2.5rem;
    min-height: 85vh;
}

.ui-datatable {
    box-sizing: content-box;
}

.ui-datatable-header {
    min-height: 50px;
}


/* Clear floats after the columns */
/*.row:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

/* Style the footer */
footer {
    width: 100%;
    text-align: center;
    background-color: #e6ffff;
    padding: 10px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}




/* Login screen */

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    text-align: center;
    background-color: white;
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 0px 0px 8px 0px #407972;
}

.input-div > div > input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5em 0.7em;
    font-size: 1.2em;
    text-align: center;
    margin: 0.5em 0em 0.5em 0em;
    border-radius: 1em;
}

.title {
    padding-bottom: 1em;
}

.login-entry {
    padding-bottom: 1.5em;
}

.btn {
    width: 100%;
    display: block;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #2f8cf1, #3ea1d7, #0d8ec7);
    background-size: 150%;
    font-size: 1.2em;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.login-bg{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #c7faff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2387efff' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2391ceff'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}




/* Chat messages containers */
.chat-message-container {
    width: 100%;
}

/* Darker chat container */
.darker .chat-message-box {
    border-color: #ccc;
    background-color: #ddd;
    float: right;
    padding: 5px 5px 5px 15px;
}

.message-teacher {
    background-color: #fff5cb;
}

.message-student {
    background-color: #c1ebef;
}

/* Clear floats */
.chat-message-container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.chat-message-container img {
    float: left;


    display: inline-block;
    max-height: 40px;
    max-width: 40px;
    margin: 10px 10px 10px 10px;
}

/* Style the right image */
.chat-message-container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.chat-message-box {
    display: flex;
    padding: 5px 15px 5px 5px;
    border-radius: 30px 30px 30px 30px;
    max-width: 80%;
    width: auto;

    float: left;
    border: 2px solid #cac5c1;
    margin: 10px 0;
}


/* Style time text */
.time-right {
    float: right;
    color: #aaa;

    font-size: 8pt;
    margin-bottom: 10px;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;

    font-size: 8pt;
    margin-bottom: 10px;
}

#webSocketForm\:websocketMessageText {
    margin: 1em 3% 1em 0;
    width: 90%;
    padding: 1em;
}


#webSocketForm\:sendMessage {
    width: 7%;
    margin: 0px;
}

.half-width {
    max-width: 50%;
}

.profile-image-container {
    position: relative;
    width: 100%;
}
/* Make the image responsive */
.profile-image-container img {
    width: 50%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
.profile-image-container .edit-image-btn {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.box-shadow {
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}


.margin-left-25-percent {
    margin-left: 25%;
}

.noBorders tr, .noBorders td, .noBorders div {
    background: none !important;
    border: none !important;
}

.buttonbar {
    display: flex;
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.login-box-block {
    height: 250px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    transition: background-color .3s;
}

.login-box-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: transparent;
}

.login-box-icon {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.login-box-inner {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #419dce;
    border-radius: 1px;
}

.login-box-inner h2 {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
}