<ui:composition template="/WEB-INF/templates/teacher-template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">

    <ui:define name="metadata">
        <f:metadata>
            <o:viewParam name="taskId" value="#{teacherTaskBean.taskId}">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <o:viewParam name="teachingId" value="#{teacherTeachingBean.teachingId}">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <o:viewParam name="classroomId" value="#{teacherUserBackingBean.classroomId}">
                <f:validateLongRange minimum="1"/>
            </o:viewParam>
            <f:viewAction action="#{teacherTeachingBean.init}"/>
            <f:viewAction action="#{teacherUserBackingBean.setClassroom}"/>
            <f:viewAction action="#{teacherTaskBean.initTask}"/>
            <f:viewAction action="#{teacherTaskBean.loadStudentsListDataModel}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        Úkol
    </ui:define>

    <ui:define name="content">

        <h2>Úkol: #{teacherTaskBean.task.name}</h2>
        <h:form id="students-form">

            <p:dataTable id="students" var="student" value="#{teacherTaskBean.studentsDataModel}" >

                <p:column style="width:2em">
                    <p:rowToggler />
                </p:column>

                <p:column headerText="Student" sortBy="#{student.student.userAccount.surname}">
                    <h:outputText value="#{student.student.userAccount.surname} #{student.student.userAccount.firstname}" />
                </p:column>

                <p:column headerText="Stav" sortBy="#{student.taskState}" sortOrder="desc">
                    <h:outputText value="#{student.taskState}" styleClass="color-for-#{student.rawTaskState}"/>
                </p:column>

                <p:column style="width:3rem;text-align: center" exportable="false" rendered="#{teacherTaskBean.getNumberOfStudentsAttemptsForRhsStudent(student.student) > 0}">
                    <p:linkButton outcome="/teacher/tasks/task/attempt" value="Zobrazit poslední pokus" icon="pi pi-search" title="Detail" includeViewParams="true">
                        <f:param name="attemptId" value="#{teacherTaskBean.studentsAttemptsReverseSorted.get(0).id}" />
                    </p:linkButton>
                </p:column>

                <p:rowExpansion>
                    <p:dataTable id="attempts" value="#{teacherTaskBean.getStudentsAttemptsReverseSorted()}" var="attempt">

                        <p:column>
                            <h:outputText value="#{attempt.getTimeFormated()}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{attempt.getStateCzechFormated()}" />
                        </p:column>

                        <p:column style="width:3rem;text-align: center">
                            <p:linkButton outcome="/teacher/tasks/task/attempt" includeViewParams="true" icon="pi pi-search" title="Detail">
                                <f:param name="attemptId" value="#{attempt.id}" />
                            </p:linkButton>
                        </p:column>

                    </p:dataTable>
                </p:rowExpansion>
            </p:dataTable>
        </h:form>

        <h2>Upravit zadání úkolu</h2>
        <h:form id="form-task-text">
            <p:growl id="msgs" showDetail="true" skipDetailIfEqualsSummary="true" />
            <p:textEditor widgetVar="editor-task" value="#{teacherTaskBean.task.text}" height="300" style="margin-bottom:10px" secure="false" />
            <p:commandButton id="btn-save-task" value="Uložit" action="#{teacherTaskBean.updateTaskText}" update=":form-task-text:msgs" />
        </h:form>

    </ui:define>
</ui:composition>